

*{
    padding: 0;
    margin: 0;
    background-color: #111111;
}

header img {
    position: absolute;
    top: 30px;
    right: 450px;
}
.nav img{
    position: absolute;
    left: 405px;
    top: 40px;
}
.nav ul{
    display: flex;
    list-style: none;
    margin-left: 605px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: #CDAA7D;
}
.nav li{
    margin-right: 40px;
    font-size: 18px;
}
header input {
    display: block;
    opacity: 0;
}
header hr {
    width: 1260px;
    margin-right:auto ;
    margin-left: auto;
}

.masters h2 {
    font-size: 48px;
    margin-top: 40px;
    color: white;
    text-align: center;
}
.masters__pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 105px;
    margin-top: 50px;
}
.masters__pics img {
    padding-right: 20px;
}
.masters__pics figcaption , p {
    color: white;
}
.masters__pics figcaption {
    font-size: 27px;
    padding-top: 15px;
}
.masters__pics p{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.footer {
    height: 100px;
    background-color: #111111;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding-top: 100px;
    
}
.footer__flex {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer hr {
    width: 1260px;
    margin-right:auto ;
    margin-left: auto;
}
.footer p{
    color: white;
    padding-bottom: 5px;
    font-size: 18px;
}
.footer h4 {
    color: white;
    padding-bottom: 10px;
    font-size: 24px;
}
.footer h5 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 18px;
}

