
@import "media.css";

*{
    padding: 0;
    margin: 0;
}

header img {
    position: absolute;
    top: 30px;
    right: 450px;
}
.nav img{
    position: absolute;
    left: 405px;
    top: 40px;
}
.nav ul{
    display: flex;
    list-style: none;
    margin-left: 605px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: #CDAA7D;
}
.nav li{
    margin-right: 40px;
    font-size: 18px;
}
input {
    display: block;
}
header hr {
    width: 1200px;
    margin-right:auto ;
    margin-left: auto;
}

.main {
    height: 800px;
}
.main img {
    position: absolute;
    top: 0;
    height: 1038px;
    width: 100%;
    z-index: -1;
}
.main__block1 h1 {
    font-size: 72px;
    margin-top: 130px;
    width: 520px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}


.block2 {
    background-color: #111111;
    height: 605px;
    
}
.block2 img {
    padding-top: 125px;
    padding-left: 720px;
    padding-bottom: 68px;
}
.block2__text {
    margin-left: auto;
    margin-right: auto;
}
.block2 p {
    width: 856px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 27px;
    padding-bottom: 15px; 
}

.block3 {
    background-color: #111111;
    height: 1400px;
}
.block3__pics {
    margin-left:100px;
    display: flex;
   flex-wrap: wrap;
   margin-bottom: 150px;
}
.block3__pics img {
    padding-right: 30px;
}
.block3__pics figcaption {
    color: white;
    padding-bottom: 40px;
    padding-top: 15px;
}
.block4 {
    margin-left: 300px;
}
.block4 img {
    padding-right: 150px;
    margin-bottom: 174px;
}
.block5 {
    background-color: #111111;
    padding-bottom: 100px;
    position: relative;
}
.block5 h2 {
    font-size: 48px;
    color: white;
    text-align: center;
    padding-bottom: 90px;
    margin-top: -120px;
}
.footer {
    height: 200px;
    background-color: #111111;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    
}
.footer__flex {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer hr {
    width: 1200px;
    margin-right:auto ;
    margin-left: auto;
}
.footer p{
    color: white;
    padding-bottom: 5px;
    font-size: 18px;
}
.footer h4 {
    color: white;
    padding-bottom: 10px;
    font-size: 24px;
}
.footer h5 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 18px;
}


.slider {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 416px;
    height: 500px;
  }
  
  .slide {
    float: left;
    width: 416px;
    height: 500px;
    
  }
  button {
    cursor: pointer;
    background-color: rgba(255, 252, 252, 0.355);
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  button:hover {
    background-color: rgba(255, 127, 80, 0.426);
  }
  .prev {
    position: absolute;
    top: 350px;
    left: 420px;
  }
  .next {
    position: absolute;
    top: 350px;
    right: 420px;
  }









  
